.password-settings {
	color: #1e1e1e;

	&__header {
		&--title {
			font: 500 2rem 'Baloo 2', sans-serif;
			margin-top: -6px;
		}
		&--info {
			font-size: 0.96rem;
			color: #6e6e6e;
			margin-top: -6px;
		}
		&--msg {
			font-family: 'Baloo 2', sans-serif;
		}
	}

	&__form {
		margin-top: 40px;

		&__input-box {
			position: relative;
			margin-bottom: 60px;

			&.--error {
				> input {
					border-color: #f44336;
				}
				> #password-req {
					bottom: -40px;
				}
			}

			&::before {
				position: absolute;
				bottom: -24px;
				left: 680px;
				transform: translateX(-100%);
				width: fit-content;
				content: attr(error);
				font-family: 'Baloo 2', sans-serif;
				font-size: 0.96rem;
				color: #f44336;
			}

			> label {
				width: 180px;
				display: inline-block;
				font-family: 'Baloo 2', sans-serif;
			}
			> input {
				transition: 0.2s ease;
				background-color: #fafafa;
				width: 500px;
				height: 38px;
				padding: 0 8px;
				border: 1px solid #eaeaea;
				border-radius: 4px;
			}
			> #password-req {
				position: absolute;
				bottom: -24px;
				left: 680px;
				transform: translateX(-100%);
				width: fit-content;
				font-family: 'Baloo 2', sans-serif;
				color: #6e6e6e;
			}
		}

		&--submit {
			width: 680px;
			display: flex;
			justify-content: center;

			.password-change-submit {
				background-color: #1a73e8;
				width: 180px;
				height: 36px;
				color: #fafafa;
				border: 1px solid #eaeaea;
				border-radius: 2px;
				cursor: pointer;

				&::after {
					transition: 0.2s ease all;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					width: fit-content;
					content: attr(value);
				}

				&.processing {
					&::after {
						opacity: 0;
					}

					> svg {
						animation: spin 1.2s linear infinite;
						opacity: 1;
					}

					@keyframes spin {
						to {
							transform: rotate(360deg);
						}
					}
				}

				> svg {
					opacity: 0;
				}
			}
		}
	}

	&--ending {
		width: 680px;
		text-align: center;
		margin-top: 60px;
	}
}
